* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, 'Geneva', Tahoma, sans-serif;
}

footer {
    background-color: #1f2937;
    color: #f9faf8;
}

ul {
    list-style-type: none;
}

.hl {
    display: flex;
    margin: 0 auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    min-height: 50px;
}

.navbar {
    background-color: #1f2937;
    color: #f9faf8;
    height: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.navbar .logo {
    color: #f9faf8;
    font-size: 24px;
}

.navbar a {
    color: #e5e7eb;
    font-size: 18px;
    text-decoration: none;
}

.navbar a:hover {
    color: lightseagreen;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #f9faf8;
    min-height: 400px;
    margin: 0 auto;
}

.header h1 {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.imgholder {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(119, 116, 116);
    color: #e5e7eb;
    margin-right: 50px;
    min-height: 300px;
    min-width: 300px;
    
}

.title { 
    min-width: 400px;
    margin: 0 auto;
    padding: 50px 0;
}

.header .title {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-left: 50px;
    /* flex-direction: column; */
    /*flex: 1;*/
    gap: 20px;
}

.title .sign1 {
    background-color: #3882f6;
    color: #e5e7eb;
    height: 50px;
    width: 100px;
    border-radius: 5px;
}

.title .sign1:hover {
    background-color: lightseagreen;
}


.header .imgholder{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    margin-left: 50px;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 30px;
    margin-top: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.contain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0 15px 0;
    flex-wrap: wrap;
}

.frame {
    display: flex;
    max-width: 250px;
    align-items: center;
    gap: 15px;
    text-align: center;
    flex-direction: column;
}

.box {
    border: #3882f6 5px solid;
    border-radius: 15px;
    height: 150px;
    width: 150px;
}

.quote {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    color: #1f2937;
    align-items: center;
    flex-wrap: wrap;
    min-width: 600px;
    padding: 100px;
}

.quote em {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    max-width: 900px;
}

.quote p {
    display: flex;
    align-self: flex-end;
    font-weight: bolder;
}

